<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am working in BHARAT ELECTRONICS LIMITED BANGALORELORE a proud PSU of Government of INDIA.
        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real life problems with a business justification.
           I'm looking for a beginer embedded electronics related  role where I can take on
           team  responsibilites, and gain experience with
           architecture and project management.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Developed Remote control for three phase Induction Motor using GSM .
    			</li>
          <li>
            Attended Workshop on RF circuits.
          <li>
            Worked as a LED Bulb Trainer at MGIRI Wardha.
    			<li>
            Designed many PCBs for small scale Electronics projects.
    			</li>
    			
		    </ul>
	    </div>
    </div>
  </div>
</section>
