<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Electronic Hardware Designing</b>. I love to design circuits from scratch and make pcbs to get it running.
			  </li>
			  <li>
				  <b>Python</b>. Python is one of the popular programming language. I am learning it and want to use it for coding in microcontrollers.
			  </li>
			  <li>
				  <b>Arduino</b>. Arduino is an open-source electronics platform based on easy-to-use hardware and software.
				  It's intended for anyone making interactive projects.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
         Developed Mobile phone controlled automatic starter for agricultur purpose.
    		</li>
  			<li>
          This web portfolio is my maiden website creating aproach.
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Love to cook at home and eat too...
  			</li>
  			<li>
  			I love to listen songs and Wandering around exploring new places.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
